<app-nav></app-nav>

<mat-card class="detuser mat-elevation-z8">
  <mat-card-title class="titulo">Deletar Usuarios</mat-card-title>

  <section>
    <mat-form-field class="cmpId" appearance="outline">
      <input type="number" placeholder="id" matInput [disabled]="true" name="id" [(ngModel)]="usuario.id">
      <mat-icon matSuffix>delete_sweep</mat-icon>
    </mat-form-field>

    <mat-form-field class="cmpNome" appearance="outline">
      <input type="text" placeholder="item" matInput [disabled]="true" name="nome" [(ngModel)]="usuario.nome">
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
  </section>

  <section>
    <mat-form-field class="cmpTel" appearance="outline">
      <input type="tel" placeholder="valor" matInput [disabled]="true" [(ngModel)]="usuario.tel">
      <mat-icon matSuffix>call</mat-icon>
    </mat-form-field>

    <mat-form-field class="cmpEmail" appearance="outline">
      <input type="text" placeholder="descrição" matInput [disabled]="true" [(ngModel)]="usuario.email">
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>
  </section>

  <section>
    <mat-form-field class="cmpCity" appearance="outline">
      <input type="text" placeholder="cidade" matInput [disabled]="true" [(ngModel)]="usuario.cidade">
      <mat-icon matSuffix>location_on</mat-icon>
    </mat-form-field>

    <mat-form-field class="cmpUf" appearance="outline">
      <input type="text" placeholder="uf" matInput [disabled]="true" [(ngModel)]="usuario.uf">
      <mat-icon matSuffix>map</mat-icon>
    </mat-form-field>
  </section>

  <mat-card-actions>
    <button mat-stroked-button routerLink="/usuarios">Cancelar</button>
    <button mat-flat-button color="warn" (click)="excluirUsuario()">Deletar</button>
  </mat-card-actions>
</mat-card>
