section{
  margin: 20px 10%;
}

button{
  margin: 10px;
}

table{
  table-layout: fixed;
  margin: auto;
  width: 80%;
}

.mat-column-id{
  text-align: center;
  width: 5%;
}

.mat-column-desc{
  width: 20%;
}

.mat-column-valor{
  text-align: end;
}

.mat-column-acoes{
  text-align: center;
}
